body {
    padding: 10px;
}
#content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
    #content input[type=search], #content input[type=submit], #content input[type=radio] {
        padding: 4px;        
    }

#result-info {
    padding: 10px 30px;
    font-size: 1.6em;
}
#result-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: auto;
    font-size: 1.2em;
}
.item {
    padding: 5px 3px;
}